/* CSS for Task Planner Project */

/* Set global font */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  
  /* Center text, make header bold & add a background gradient */
  h1 {
    color:white;
    text-align: center;
    background: linear-gradient(59deg, rgba(2,0,36,1) 0%, rgba(12,12,195,1) 0%, rgba(0,212,255,1) 100%);
    padding: 3rem 0rem;
    margin-bottom: 5rem;
    font-weight: bold;
  } 

  body{
    min-height: 100vh;
  
  }
  /* Add margin and make text bold */
  #footerTask {
    position: sticky;
    top: 100%;
  }

/* Hide button if status is set the done */
  button.checkDone.done:not([disabled]) {
    display: none;
  }

  .cardBtn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .checkField {
    color: red;
    font-weight: bold;
    text-shadow: 1px 1px 7px white;
  }