h1 {
    color:white;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(59deg, rgba(2,0,36,1) 0%, rgba(12,12,195,1) 0%, rgba(0,212,255,1) 100%);
    padding: 3rem 0rem;
    margin-bottom: 5rem;
    font-weight: bold;
}

.footer-1 {
    margin-top: 7rem;
}

.formText, 
.formButton {
    font-weight: 500;
}

